<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
</head>
<body>

<script id="address-template" type="text/x-handlebars-template">
    <p>You can find me in {{cnt}}. My address is {{cnt}} {{cnt}}.</p>
    아무것도 안뜨는데?
</script>
main.mustache / {{cnt}}
<br>
<br>
<ul>
        {{#noticeList}}
         <li>
                <ul>
                    <li>{{id}}</li>
                    <li>{{title}}</li>
                    <li>{{content}}</li>
                    {{#creDate}}
                        <li>{{creDate}}</li>
                    {{/creDate}}
                    {{^creDate}}
                        <li>Not Saved Data</li>
                    {{/creDate}}
                </ul>
            </li>
        {{/noticeList}}
        {{> sub}}
        <br>
        테스트 테스트
    </ul>
</body>
</html>