/*parallax_Layout*/
.parallax{  width: 100%; height: 100%;}

.relDiv  {  padding: 0px; margin: 0px; position: relative; }
/*Div Height Size*/
.divS1   {  width: 100%; height: 10%; }
.divS2   {  width: 100%; height: 20%; }
.divS3   {  width: 100%; height: 30%; }
.divS4   {  width: 100%; height: 40%; }
.divS5   {  width: 100%; height: 50%; }
.divS6   {  width: 100%; height: 60%; }
.divS7   {  width: 100%; height: 70%; }
.divS8   {  width: 100%; height: 80%; }
.divS9   {  width: 100%; height: 90%; }
.divS10  {  width: 100%; height: 100%; }
/*Div Height Size End*/

/*Div Height position*/
.pos1, .pos2, .pos3, .pos4, .pos5, .pos6, .pos7, .pos8, .pos9, .pos10{
    position: relative;
}
.pos1   { top : 15%; }
.pos2   { top : 25%; }
.pos3   { top : 35%; }
.pos4   { top : 45%; }
.pos5   { top : 55%; }
.pos6   { top : 65%; }
.pos7   { top : 75%; }
.pos8   { top : 85%; }
.pos9   { top : 95%; }
.pos10  { top : 100%; }
/*Div Height Size End*/

/*
    #div1 { background: url("../img/20171004_004.jpg") no-repeat; }
    #div2 { background: url("../img/BackGround 1920x1080.jpg") no-repeat; }
    #div3 { background: url("../img/20171004_002.jpg") no-repeat; }
    #div4 { background: url("../img/c959205e4386f8212453c610fb14da2d.jpg") no-repeat; }
*/
/*
    남색                  rgb(16, 49, 89);
    민트색                rgb(121, 248, 149)
    회색과 하늘색 중간    rgb(193, 214, 253);
    회색                  rgb(70, 76, 94);
    초록                  rgb(108, 191, 114);
*/