/*parallax_Layout*/
.parallax{  width: 100%; height: 100%;}

.relDiv  {  padding: 0px; margin: 0px; position: relative; }
/*Div Height Size*/
.divS1   {  width: 100%; height: 10%; }
.divS2   {  width: 100%; height: 20%; }
.divS3   {  width: 100%; height: 30%; }
.divS4   {  width: 100%; height: 40%; }
.divS5   {  width: 100%; height: 50%; }
.divS6   {  width: 100%; height: 60%; }
.divS7   {  width: 100%; height: 70%; }
.divS8   {  width: 100%; height: 80%; }
.divS9   {  width: 100%; height: 90%; }
.divS10  {  width: 100%; height: 100%; }
/*Div Height Size End*/

/*Div Height position*/
.divT1, .divT2, .divT3, .divT4, .divT5, .divT6, .divT7, .divT8, .divT9, .divT10{
    position: relative;
}

.divPT1, .divPT2, .divPT3, .divPT4, .divPT5, .divPT6, .divPT7, .divPT8, .divPT9, .divPT10{
    position: absolute;
}

.divT1   { top : 15%; }
.divT2   { top : 25%; }
.divT3   { top : 35%; }
.divT4   { top : 45%; }
.divT5   { top : 55%; }
.divT6   { top : 65%; }
.divT7   { top : 75%; }
.divT8   { top : 85%; }
.divT9   { top : 95%; }
.divT10  { top : 100%; }

.divPT1  { margin-top : 15%; }
.divPT2  { margin-top : 25%; }
.divPT3  { margin-top : 35%; }
.divPT4  { margin-top : 45%; }
.divPT5  { margin-top : 55%; }
.divPT6  { margin-top : 65%; }
.divPT7  { margin-top : 75%; }
.divPT8  { margin-top : 85%; }
.divPT9  { margin-top : 95%; }
.divPT10 { margin-top : 100%; }
/*Div Height Size End*/

/*
    #div1 { background: url("../img/20171004_004.jpg") no-repeat; }
    #div2 { background: url("../img/BackGround 1920x1080.jpg") no-repeat; }
    #div3 { background: url("../img/20171004_002.jpg") no-repeat; }
    #div4 { background: url("../img/c959205e4386f8212453c610fb14da2d.jpg") no-repeat; }
*/
/*
    남색                  rgb(16, 49, 89);
    민트색                rgb(121, 248, 149)
    회색과 하늘색 중간    rgb(193, 214, 253);
    회색                  rgb(70, 76, 94);
    초록                  rgb(108, 191, 114);
*/